
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/assets/js/wavesurfer.js"></script>
  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

  <!-- optional -->
  <link rel="stylesheet" href="https://wavesurfer-js.org/example/css/style.css">
  <link rel="stylesheet" href="https://wavesurfer-js.org/example/css/ribbon.css">
  <link rel="stylesheet" href="https://wavesurfer-js.org/example/annotation/app.css">

  <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.js"></script>

  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.js"></script>

  <script src="https://wavesurfer-js.org/example/trivia.js"></script>
  <script src="https://wavesurfer-js.org/example/annotation/app.js"></script>